@import 'animate.scss';

.footer {
    display: flex;
    flex-flow: row wrap;
    position: fixed;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    height: 4rem;

    a {
        text-decoration: none;
        color: #fdcb46;
        font-size: large;
        padding: 1rem;

        @include mediamaxwidth(360px) {
            font-size: small;
        }


    }

    a:hover {
        -webkit-animation-duration: 1s;
        animation-duration: 1s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
        -webkit-animation-name: wobble;
        animation-name: wobble;
    }

    left:0px;
    bottom:0px;
    background-color: #579c87;

}