header {
    display: flex;
    width: 100%;
    justify-content: center;
    background: $primary;

    a {
        text-decoration: none;
        display: block;
        padding: 0.5em;
        font-size: 1.5em;
        color: $secondary;
        font-weight: bold;
    }
}

// Mixins Media Queries

@include mediamaxwidth(800px) {
    header {
        justify-content: space-around;
    }
}

@include mediamaxwidth(600px) {
    header {

        a,
        h1 {
            text-align: center;
            padding: 0.5em;
            font-size: 2rem;
        }
    }
}