// Import all fonts by Google Fonts

@import url('https://fonts.googleapis.com/css?family=Dancing+Script|Devonshire|Kurale|Kaushan+Script|Open+Sans:700&display=swap');

$primary:#579c87;
$secondary:#fdcb46;
// Imports others files scss
@import 'mixins.scss';
@import 'functions.scss';
@import 'animate.scss';

// Code for all pages

html,
body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans',
        sans-serif;
    transition: all 0.5s ease;

    ::-webkit-scrollbar {
        width: 6px;
        background-color: #F5F5F5;
    }

    ::-webkit-scrollbar-thumb {
        border-radius: 10px;
        box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
        background-color: #579c87;
    }

    ::-webkit-scrollbar-track {
        box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        border-radius: 10px;
        background-color: #F5F5F5;
    }
}

.container {
    max-width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;

    @include mediaminwidth(567px) {
        max-width: 567px;
    }

    @include mediaminwidth(768px) {
        max-width: 768px;
    }

    @include mediaminwidth(992px) {
        max-width: 992px;
    }

    @include mediaminwidth(1200px) {
        max-width: 1200px;
    }
}

// Imports others files scss

@import 'header.scss';
@import 'main.scss';
@import 'menu.scss';
@import 'footer.scss';